header {
    background-color: #1B1A55;
    color: aqua;
    text-align: center;
}
main {
    background-color: lightgray;
    padding: 1em;
}

body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0;

    
}